* {
  box-sizing: border-box;
}

.h1 {
  margin: 0;
  font-weight: 500;
  font-size: 2.7rem;
}

@media (min-width: 50em) {
  h1 {
    font-size: 1.8rem;
  }
}

.cta {
  color: white;
  display: flex;
  max-width: 50rem;
  width: 100%;
  /* box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1); */
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.2rem solid;
}

.cta img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  flex: 1 1 auto;
  width: 10%;
}

.cta__text-column {
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
  flex: 1 0 50%;
}

.cta__text-column > * + * {
  margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
  display: inline-block;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: hsl(278, 50%, 49%);
  border-radius: 0.6rem;
  font-weight: 700;
  border: 0.2rem solid;
}

.tags {
  /* display: inline-block; */
  color: black;
  padding: 0.5rem 1rem;
  /* background: hsl(187 75% 64%); */
  border-radius: 0.6rem;
  font-weight: 700;
  border: 0.2rem solid;
}
